* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manga Temple", sans-serif;
}

body {
  background: url("./img/one-piece.png") no-repeat center;
  background-size: cover;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: RGBA(0, 0, 0, 0.8);
  border: 4px solid white;
  padding: 20px;
  gap: 20px;
}

.subtitulo {
  color: white;
}

button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: white;
  color: black;
  cursor: pointer;
}

input {
  width: 16px;
  height: 16px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h2 {
  color: white;
}

.opcoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

#container-cartas {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.carta {
  position: relative;
  border-radius: 4px;
  width: 200px;
}

#resultado {
  font-size: 18px;
  color: white;
}

.img1 {
  position: absolute;
  width: 157px;
  height: 113px;
  bottom: 95px;
  left: 23px;
  border: 2px solid #363636;
}

.img2 {
  position: absolute;
  width: 157px;
  height: 113px;
  bottom: 95px;
  left: 252px;
  border: 2px solid #363636;
}

#atributo-jogador {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 35px;
  left: 46px;
  font-size: 10px;
  color: #363636;
}

#atributo-maquina {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 35px;
  right: 49px;
  font-size: 10px;
  color: #363636;
}

span>span {
  margin-left: 10px;
}

.ataque,
.defesa {
  margin-left: 50px;
}

@media (max-width: 520px) {
  #container-cartas {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .img1 {
    top: 56px;
    left: 23px;
  }

  .img2 {
    bottom: 96px;
    left: 23px;
  }

  #atributo-jogador {
    top: 195px;
  }

  #atributo-maquina {
    bottom: 35px;
  }
}